---
import Layout from '../../layouts/layout_emp.astro';
import Card1 from '../../components/comp_emple/Emp_card.astro';
---



<Layout title="Home">
    <div class="container mx-auto p-10 md:p-20 antialiased h-full w-full">
        <section class="grid grid-cols-1 sm:grid-cols-2 gap-10">

            <Card1
            id='31'
            img1='/img/cardimg/cr1.jpg'
            img2='/img/cardimg/cr2.jpeg'
            img3='/img/cardimg/cr3.jpeg'
            img4='/img/cardimg/cr4.jpg'
            img5='/img/cardimg/cr5.jpg'
            href='/'
            title='Chef de Cocina Internacional'
            empresa='Crucero Oceana'
            body='Buscamos un Chef de Cocina Internacional con experiencia en cocina gourmet y liderazgo de equipos para nuestro crucero Oceana. Se valorará conocimiento en cocinas del mundo y técnicas culinarias avanzadas.'
            lugar='Oceano Atlántico'
            km='0'
            tipo='Full-time'
        ></Card1>
        
        <Card1
            id='32'
            img1='/img/cardimg/cr2.jpeg'
            img2='/img/cardimg/cr1.jpg'
            img3='/img/cardimg/cr5.jpg'
            img4='/img/cardimg/cr3.jpeg'
            img5='/img/cardimg/cr4.jpg'
            href='/'
            title='Barman'
            empresa='Crucero Pacific Dream'
            body='Crucero Pacific Dream busca barman experimentado para preparar cócteles y bebidas exclusivas para nuestros pasajeros, garantizando un excelente servicio en un ambiente relajado.'
            lugar='Océano Pacífico'
            km='0'
            tipo='Full-time'
        ></Card1>
        
        <Card1
            id='33'
            img1='/img/cardimg/cr3.jpeg'
            img2='/img/cardimg/cr4.jpg'
            img3='/img/cardimg/cr1.jpg'
            img4='/img/cardimg/cr5.jpg'
            img5='/img/cardimg/cr2.jpeg'
            href='/'
            title='Camarero/a de Cabinas'
            empresa='Crucero Royal Seas'
            body='Crucero Royal Seas necesita camarero/a de cabinas para asegurar la limpieza y comodidad de las habitaciones de nuestros pasajeros, brindando un servicio de alta calidad y detalle.'
            lugar='Mar Caribe'
            km='0'
            tipo='Full-time'
        ></Card1>
        
        <Card1
            id='34'
            img1='/img/cardimg/cr4.jpg'
            img2='/img/cardimg/cr3.jpeg'
            img3='/img/cardimg/cr2.jpeg'
            img4='/img/cardimg/cr5.jpg'
            img5='/img/cardimg/cr1.jpg'
            href='/'
            title='Animador/a de Actividades'
            empresa='Crucero Adventure Waves'
            body='Se busca animador/a con habilidades de entretenimiento para dirigir actividades y shows en el crucero Adventure Waves. Ideal para personas extrovertidas y con talento para la animación.'
            lugar='Mediterráneo'
            km='0'
            tipo='Full-time'
        ></Card1>
        
        <Card1
            id='35'
            img1='/img/cardimg/cr5.jpeg'
            img2='/img/cardimg/cr1.jpg'
            img3='/img/cardimg/cr4.jpg'
            img4='/img/cardimg/cr2.jpeg'
            img5='/img/cardimg/cr3.jpeg'
            href='/'
            title='Auxiliar de Cocina'
            empresa='Crucero Caribbean Sun'
            body='Crucero Caribbean Sun busca auxiliar de cocina para asistir en la preparación de alimentos y garantizar la higiene en el área de cocina. Ideal para personas con pasión por la gastronomía.'
            lugar='Caribe'
            km='0'
            tipo='Part-time'
        ></Card1>
        
        <Card1
            id='36'
            img1='/img/cardimg/cr6.jpeg'
            img2='/img/cardimg/cr5.jpg'
            img3='/img/cardimg/cr3.jpeg'
            img4='/img/cardimg/cr2.jpeg'
            img5='/img/cardimg/cr4.jpg'
            href='/'
            title='Masajista Profesional'
            empresa='Crucero Serenity'
            body='El crucero Serenity necesita masajista profesional para su spa, brindando tratamientos relajantes y terapéuticos a nuestros pasajeros. Experiencia en masajes de relajación y terapias holísticas es deseable.'
            lugar='Océano Índico'
            km='0'
            tipo='Full-time'
        ></Card1>
        
        <Card1
            id='37'
            img1='/img/cardimg/cr7.jpg'
            img2='/img/cardimg/cr4.jpg'
            img3='/img/cardimg/cr5.jpg'
            img4='/img/cardimg/cr1.jpg'
            img5='/img/cardimg/cr3.jpeg'
            href='/'
            title='Técnico de Mantenimiento'
            empresa='Crucero Atlantic Bliss'
            body='Crucero Atlantic Bliss busca técnico de mantenimiento con experiencia en mecánica y electricidad para mantener el correcto funcionamiento de las instalaciones a bordo.'
            lugar='Atlántico'
            km='0'
            tipo='Full-time'
        ></Card1>
        
        <Card1
            id='38'
            img1='/img/cardimg/cr8.jpeg'
            img2='/img/cardimg/cr1.jpg'
            img3='/img/cardimg/cr2.jpg'
            img4='/img/cardimg/cr5.jpg'
            img5='/img/cardimg/cr4.jpg'
            href='/'
            title='Practicante en Cocina'
            empresa='Crucero World Explorer'
            body='Crucero World Explorer busca estudiantes de gastronomía para realizar prácticas en cocina a bordo. Ideal para personas con interés en desarrollarse en la cocina internacional.'
            lugar='Océano Atlántico'
            km='0'
            tipo='Práctica'
        ></Card1>
        
    
    
</section>
    
</div>

</Layout>