---
import Layout from '../../layouts/layout_emp.astro';
import Card1 from '../../components/comp_emple/Emp_card.astro';
---



<Layout title="Home">
    <div class="container mx-auto p-10 md:p-20 antialiased h-full w-full">
        <section class="grid grid-cols-1 sm:grid-cols-2 gap-10">

            <Card1
            id='41'
            img1='/img/cardimg/ec1.jpg'
            img2='/img/cardimg/ec2.jpg'
            img3='/img/cardimg/ec3.jpeg'
            img4='/img/cardimg/ec4.jpg'
            img5='/img/cardimg/ec5.jpg'
            href='/'
            title='Guía de Excursiones'
            empresa='EcoAventura Patagonia'
            body='EcoAventura Patagonia busca un guía de excursiones con experiencia en actividades al aire libre y conocimiento en la biodiversidad de la región. Ideal para amantes de la naturaleza y ecoturismo.'
            lugar='Torres del Paine, Patagonia'
            km='5'
            tipo='Full-time'
        ></Card1>
        
        <Card1
            id='42'
            img1='/img/cardimg/ec2.jpg'
            img2='/img/cardimg/ec1.jpg'
            img3='/img/cardimg/ec5.jpg'
            img4='/img/cardimg/ec3.jpeg'
            img5='/img/cardimg/ec4.jpg'
            href='/'
            title='Educador Ambiental'
            empresa='Reserva Nacional Villarrica'
            body='Reserva Nacional Villarrica requiere un educador ambiental para promover el cuidado y la conservación del ecosistema a través de charlas y talleres interactivos para turistas.'
            lugar='Pucón, Araucanía'
            km='2'
            tipo='Part-time'
        ></Card1>
        
        <Card1
            id='43'
            img1='/img/cardimg/ec3.jpeg'
            img2='/img/cardimg/ec4.jpg'
            img3='/img/cardimg/ec1.jpg'
            img4='/img/cardimg/ec5.jpg'
            img5='/img/cardimg/ec2.jpg'
            href='/'
            title='Guía de Avistamiento de Aves'
            empresa='Birdwatching Chile'
            body='Birdwatching Chile busca un guía experto en avistamiento de aves para recorridos en la zona de la Región de los Lagos. Conocimiento de especies locales y técnicas de observación es deseable.'
            lugar='Puerto Varas, Los Lagos'
            km='3'
            tipo='Full-time'
        ></Card1>
        
        <Card1
            id='44'
            img1='/img/cardimg/ec4.jpg'
            img2='/img/cardimg/ec3.jpeg'
            img3='/img/cardimg/ec2.jpg'
            img4='/img/cardimg/ec5.jpg'
            img5='/img/cardimg/ec1.jpg'
            href='/'
            title='Asistente de Senderismo'
            empresa='Andes Wild Trekking'
            body='Andes Wild Trekking necesita un asistente de senderismo para ayudar en la organización y logística de rutas. Ideal para personas con conocimientos en primeros auxilios y orientación en terreno.'
            lugar='San Pedro de Atacama, Atacama'
            km='6'
            tipo='Part-time'
        ></Card1>
        
        <Card1
            id='45'
            img1='/img/cardimg/ec5.jpg'
            img2='/img/cardimg/ec1.jpg'
            img3='/img/cardimg/ec4.jpg'
            img4='/img/cardimg/ec2.jpg'
            img5='/img/cardimg/ec3.jpeg'
            href='/'
            title='Practicante de Ecoturismo'
            empresa='Valle de Cochamó'
            body='Programa de prácticas en el Valle de Cochamó orientado a estudiantes de ecoturismo interesados en el manejo de turismo sostenible, conservación ambiental y servicio al visitante.'
            lugar='Cochamó, Los Lagos'
            km='8'
            tipo='Práctica'
        ></Card1>
        
        <Card1
            id='46'
            img1='/img/cardimg/ec6.jpg'
            img2='/img/cardimg/ec5.jpg'
            img3='/img/cardimg/ec3.jpeg'
            img4='/img/cardimg/ec2.jpg'
            img5='/img/cardimg/ec4.jpg'
            href='/'
            title='Guía de Kayak'
            empresa='EcoChile Tours'
            body='EcoChile Tours busca un guía de kayak experimentado para excursiones en los ríos de la Región de Aysén. Se valora experiencia en aguas rápidas y certificación en primeros auxilios.'
            lugar='Coyhaique, Aysén'
            km='10'
            tipo='Full-time'
        ></Card1>
        
        <Card1
            id='47'
            img1='/img/cardimg/ec7.jpg'
            img2='/img/cardimg/ec4.jpg'
            img3='/img/cardimg/ec5.jpg'
            img4='/img/cardimg/ec1.jpg'
            img5='/img/cardimg/ec3.jpeg'
            href='/'
            title='Asistente de Turismo Ecológico'
            empresa='Reserva Biológica Huilo Huilo'
            body='Reserva Biológica Huilo Huilo busca asistente para apoyar en la planificación y ejecución de actividades de turismo ecológico y conservación en un ambiente natural protegido.'
            lugar='Panguipulli, Los Ríos'
            km='4'
            tipo='Full-time'
        ></Card1>
        
        <Card1
            id='48'
            img1='/img/cardimg/ec8.jpg'
            img2='/img/cardimg/ec1.jpg'
            img3='/img/cardimg/ec2.jpg'
            img4='/img/cardimg/ec5.jpg'
            img5='/img/cardimg/ec4.jpg'
            href='/'
            title='Especialista en Flora y Fauna'
            empresa='Parque Nacional Conguillío'
            body='Se busca especialista en flora y fauna para guiar a turistas en recorridos ecológicos por el Parque Nacional Conguillío. Ideal para profesionales en biología y amantes de la biodiversidad local.'
            lugar='Melipeuco, Araucanía'
            km='7'
            tipo='Full-time'
        ></Card1>
        
    
    
    
    
</section>
    
</div>

</Layout>