---
import Layout from '../../layouts/layout_emp.astro';
import Card1 from '../../components/comp_emple/Emp_card.astro';
---


<Layout title="Home">
<div class="container mx-auto p-10 md:p-20 antialiased h-full w-full">
    <section class="grid grid-cols-1 sm:grid-cols-2 gap-10">
       
        <Card1
        id='1'
        img1='/img/cardimg/a4.jpg'
        img2='/img/cardimg/a2.jpg'
        img3='/img/cardimg/a3.jpg'
        img4='/img/cardimg/a1.jpg'
        img5='/img/cardimg/a5.jpg'
        href='/postular'
        title='Supervisor/a de Spa Hotel Tierra Atacama'
        empresa='San Pedro de Atacama'
        body='PUERINO RRHH es una Consultora de Reclutamiento, Selección/Headhunting y Desarrollo de talentos, especializada en Hospitalidad de lujo y destino, para Hotelería, Gastronomía y Bodegas a nivel internacional.'
        lugar='San Pedro de Atacama'
        km='3'
        tipo='Full-time'

        > </Card1>
        
        <!-- Repeat the article block for other items -->
        
        <Card1
    id='12'
    img1='/img/cardimg/a3.jpg'
    img2='/img/cardimg/a2.jpg'
    img3='/img/cardimg/a1.jpg'
    img4='/img/cardimg/a4.jpg'
    img5='/img/cardimg/a5.jpg'
    href='/postular'
    title='Cocinero/a Hotel Valle Nevado'
    empresa='Hotel Valle Nevado'
    body='Hotel Valle Nevado busca cocinero/a con experiencia en cocina de alto estándar, orientado a la excelencia y atención a los detalles. Únete a nuestro equipo en un entorno único de montaña.'
    lugar='Valle Nevado'
    km='45'
    tipo='Full-time'
></Card1>

<Card1
    id='21'
    img1='/img/cardimg/a6.jpg'
    img2='/img/cardimg/a2.jpg'
    img3='/img/cardimg/a3.jpg'
    img4='/img/cardimg/a4.jpg'
    img5='/img/cardimg/a5.jpg'
    href='/postular'
    title='Botones Hotel Dreams de Punta Arenas'
    empresa='Hotel Dreams'
    body='El Hotel Dreams de Punta Arenas necesita botones para brindar una cálida bienvenida a nuestros huéspedes y ayudarlos con sus pertenencias. Se requiere disposición para turnos rotativos.'
    lugar='Punta Arenas'
    km='2'
    tipo='Practica Profesional'
></Card1>

<Card1
    id='22'
    img1='/img/cardimg/a5.jpg'
    img2='/img/cardimg/a2.jpg'
    img3='/img/cardimg/a3.jpg'
    img4='/img/cardimg/a4.jpg'
    img5='/img/cardimg/a5.jpg'
    href='/postular'
    title='Mucama Hotel Puyuhuapi Lodge & Spa'
    empresa='Hotel Puyuhuapi Lodge & Spa'
    body='Hotel Puyuhuapi Lodge & Spa busca mucama con experiencia en servicios de limpieza y hospitalidad. Ofrecemos la oportunidad de trabajar en un entorno natural y acogedor.'
    lugar='Puerto Cisnes'
    km='8'
    tipo='Full-time'
></Card1>

<Card1
    id='4'
    img1='/img/cardimg/a2.jpg'
    img2='/img/cardimg/a2.jpg'
    img3='/img/cardimg/a3.jpg'
    img4='/img/cardimg/a4.jpg'
    img5='/img/cardimg/a5.jpg'
    href='/postular'
    title='Guía Turístico Hotel Explora Patagonia'
    empresa='Hotel Explora'
    body='Explora Patagonia necesita un guía turístico con experiencia en turismo de aventura y conocimientos de flora y fauna local. Si eres apasionado/a por la naturaleza, únete a nuestro equipo.'
    lugar='Torres del Paine'
    km='120'
    tipo='Full-time'
></Card1>

<Card1
    id='55'
    img1='/img/cardimg/a4.jpg'
    img5='/img/cardimg/a5.jpg'
    img2='/img/cardimg/a2.jpg'
    img4='/img/cardimg/a4.jpg'
    img3='/img/cardimg/a3.jpg'
    href='/'
    title='Recepcionista Hotel Sheraton Santiago'
    empresa='Sheraton Santiago'
    body='El Hotel Sheraton en Santiago requiere recepcionista con orientación al cliente y habilidades comunicativas para brindar el mejor servicio a nuestros huéspedes. Se valorará experiencia en hotelería.'
    lugar='Santiago'
    km='0'
    tipo='Full-time'
></Card1>

<Card1
    id='18'
    img1='/img/cardimg/a1.jpg'
    img2='/img/cardimg/a2.jpg'
    img3='/img/cardimg/a3.jpg'
    img5='/img/cardimg/a5.jpg'
    img4='/img/cardimg/a1.jpg'
    href='/'
    title='Conserje Hotel Antumalal Pucón'
    empresa='Hotel Antumalal'
    body='Hotel Antumalal en Pucón busca conserje con habilidades de servicio al cliente y manejo de idiomas. Ofrecemos un ambiente laboral estable en un entorno natural privilegiado.'
    lugar='Pucón'
    km='2'
    tipo='Part-time'
></Card1>

        
    </section>
    
</div>
