---
import Layout from '../../layouts/layout_emp.astro';
import Card1 from '../../components/comp_emple/Emp_card.astro';
---



<Layout title="Home">
    <div class="container mx-auto p-10 md:p-20 antialiased h-full w-full">
        <section class="grid grid-cols-1 sm:grid-cols-2 gap-10">


            <Card1
    id='21'
    img1='/img/cardimg/a8.jpeg'
    img2='/img/cardimg/a7.jpeg'
    img3='/img/cardimg/a12.jpeg'
    img4='/img/cardimg/a11.png'
    img5='/img/cardimg/a14.jpg'
    href='/'
    title='Practicante de Cocina Restaurante Boragó'
    empresa='Boragó'
    body='Restaurante Boragó en Santiago busca estudiantes de gastronomía para práctica profesional. Se valorará pasión por la cocina de autor y compromiso con la sostenibilidad.'
    lugar='Santiago'
    km='0'
    tipo='Práctica'
></Card1>

<Card1
    id='22'
    img1='/img/cardimg/a7.jpeg'
    img2='/img/cardimg/a8.jpeg'
    img3='/img/cardimg/a12.jpeg'
    img4='/img/cardimg/a9.jpeg'
    img5='/img/cardimg/a10.png'
    href='/'
    title='Sous Chef Restaurante Aquí Está Coco'
    empresa='Aquí Está Coco'
    body='Restaurante Aquí Está Coco en Providencia busca Sous Chef con experiencia en cocina marina. Se ofrece un ambiente dinámico en uno de los restaurantes más innovadores de Santiago.'
    lugar='Providencia'
    km='1'
    tipo='Full-time'
></Card1>

<Card1
    id='23'
    img1='/img/cardimg/a9.jpeg'
    img2='/img/cardimg/a8.jpeg'
    img3='/img/cardimg/a7.jpeg'
    img4='/img/cardimg/a11.png'
    img5='/img/cardimg/a12.jpeg'
    href='/'
    title='Ayudante de Cocina Restaurante Merkén'
    empresa='Restaurante Merkén'
    body='Restaurante Merkén en Valparaíso necesita ayudante de cocina para apoyo en preparación y montaje de platos. Se valorará experiencia previa y agilidad en la cocina.'
    lugar='Valparaíso'
    km='2'
    tipo='Part-time'
></Card1>

<Card1
    id='24'
    img1='/img/cardimg/a10.png'
    img2='/img/cardimg/a8.jpeg'
    img3='/img/cardimg/a7.jpeg'
    img4='/img/cardimg/a11.png'
    img5='/img/cardimg/a12.jpeg'
    href='/'
    title='Chef Ejecutivo Restaurante Peumayén'
    empresa='Peumayén'
    body='Peumayén en Pucón busca Chef Ejecutivo con sólida experiencia en cocina chilena contemporánea. Oportunidad de liderar un equipo en un entorno natural y turístico.'
    lugar='Pucón'
    km='2'
    tipo='Full-time'
></Card1>

<Card1
    id='25'
    img1='/img/cardimg/a11.png'
    img2='/img/cardimg/a8.jpeg'
    img3='/img/cardimg/a12.jpeg'
    img4='/img/cardimg/a13.jpg'
    img5='/img/cardimg/a10.png'
    href='/'
    title='Barista Restaurante Café Cultura'
    empresa='Café Cultura'
    body='Café Cultura en Concepción busca Barista para la preparación de bebidas de café de alta calidad. Ideal para personas con pasión por la atención al cliente y el arte latte.'
    lugar='Concepción'
    km='5'
    tipo='Part-time'
></Card1>

<Card1
    id='26'
    img1='/img/cardimg/a12.jpeg'
    img2='/img/cardimg/a14.jpg'
    img3='/img/cardimg/a7.jpeg'
    img4='/img/cardimg/a15.jpg'
    img5='/img/cardimg/a11.png'
    href='/'
    title='Practicante de Pastelería Hotel W Santiago'
    empresa='Hotel W Santiago'
    body='Hotel W en Santiago necesita practicante para el área de pastelería, orientado a estudiantes apasionados por la repostería de alto nivel.'
    lugar='Las Condes'
    km='0'
    tipo='Práctica'
></Card1>

<Card1
    id='27'
    img1='/img/cardimg/a13.jpg'
    img2='/img/cardimg/a14.jpg'
    img3='/img/cardimg/a15.jpg'
    img4='/img/cardimg/a10.png'
    img5='/img/cardimg/a11.png'
    href='/'
    title='Encargado de Compras Restaurante Patagonia Sur'
    empresa='Patagonia Sur'
    body='Restaurante Patagonia Sur en Puerto Varas busca encargado de compras, con experiencia en control de stock y proveedores, para optimizar la operación y calidad de nuestros productos.'
    lugar='Puerto Varas'
    km='3'
    tipo='Full-time'
></Card1>

<Card1
    id='28'
    img1='/img/cardimg/a14.jpg'
    img2='/img/cardimg/a15.jpg'
    img3='/img/cardimg/a10.png'
    img4='/img/cardimg/a11.png'
    img5='/img/cardimg/a11.png'
    href='/'
    title='Mesero/a Restaurante Mestizo'
    empresa='Restaurante Mestizo'
    body='Restaurante Mestizo en Santiago busca mesero/a con experiencia en servicio de alto estándar. Oportunidad de trabajo en un equipo orientado al cliente y la calidad del servicio.'
    lugar='Vitacura'
    km='0'
    tipo='Part-time'
></Card1>

<Card1
    id='29'
    img1='/img/cardimg/a15.jpg'
    img2='/img/cardimg/a14.jpg'
    img3='/img/cardimg/a8.jpeg'
    img4='/img/cardimg/a10.png'
    img5='/img/cardimg/a13.jpg'
    href='/'
    title='Encargado de Eventos Restaurante Quitral'
    empresa='Quitral'
    body='Restaurante Quitral en Santiago necesita encargado de eventos con experiencia en coordinación y atención al cliente para manejar reuniones y eventos privados.'
    lugar='Providencia'
    km='1'
    tipo='Full-time'
></Card1>

    
    
    
    
</section>
    
</div>

</Layout>